@import '../../../../assets/css/main.css';

.catalog {
   width: 142px;
   height: 52px;
   display: flex;
   background-color: var(--orange);
   border-radius: 50px;

   img {
      margin-left: 18px;
      margin-top: 20px;
      width: 17px;
      height: 10px;
   }

   p {
      margin-top: 16px;
      margin-left: 12px;
      color: var(--white);
      font-weight: 700;
   }
}