@import '../../../../../assets/css/main.css';

/* --------------------CardCategory -------------------*/

.select{
   display: flex;

    &__item{
        font-size: 16px;
        padding: 15px 30px 16px ;
        background-color: var(--gray-s-light);
        border-radius: 12px;
        margin-right: 10px;
        font-weight: 600;
        color: var(--gray);
        cursor: pointer;
    }

    &__active{
        color: var(--white);
        background-color: var(--orange);
    }

}

/* --------------------CardSorting------------------*/

.sort{
    margin-top: 18px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    position: relative;

    &__p{
    margin-right: 10px;    
        &_active{
            cursor: pointer;
            color: var(--orange);
            text-decoration: underline;
        }
    }    
    &__drop{
        position: absolute;
        background-color: #fff;
        top: 20px;
        right: 0;
        border: 2px solid var(--gray);
        padding: 20px;
        border-radius: 8px;
        z-index: 1;
    }
}


/* --------------------CardItem------------------*/
.card{
    width: 237px;
    // height: 480px;
    transition: 0.8s;
    border-radius: 16px;
    padding-bottom: 10px;

    &:hover{
        box-shadow: 0px 0px 12px 0px rgba(217, 217, 217, 0.55);
    }


    &__img{
        width: 235px;
        height: 235px;
        margin: 5px 1px 0;  
        border-radius: 16px;
        }

    &__label{
        position: relative;  
        top: -30px;
        width: 48px;
        left: 180px;
        background-color: var(--orange); 
        border-radius: 8px;
        color: var(--white);
        padding: 3px 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);

        &_none{
          height: 21px;  
        }
        }
    

    &__plataorm{
        display: flex;

        &_item{
            margin: 0 4px;
            height: 22px;
            background-color: var(--gray);
            color: var(--white);
            border-radius: 2px;
            padding: 3px 8px;
        }
    }

    &__price{
            display: flex;
            margin-top: 20px;

            &_main{
                font-size: 18px;
                font-weight: 700;
            }

            &_sale{
                margin-left: 10px;
                font-size: 14px;
                font-weight: 700;
                color: var(--gray);
                position: relative;
                &:before {
                    z-index: 1;
                    content: "";
                    display: block;
                    position: absolute;
                    top: 8px;
                    width: 55px;
                    height: 1px;
                    background-color: var(--gray);
                  }
            }
        }

    &__rating{
        display: flex;
        margin-top: 11px;
        &_star{
           width: 100px;
           height: 15px;
           background-color: var(--orange);
        }
        &_review{
            width: 40px;
            height: 15px;
            background-color: var(--orange);
            margin-left: 10px;
        }
    }

    &__title{
        margin-top: 10px;
        width: 200px;
    }

    &__btn{
        margin: 20px 44px 10px;
    }
}


/* --------------------Pagination------------------*/
.pagination{
    
    width: 800px;
    height: 40px;
    background-color: var(--gray);
    margin: 40px auto;
}