@import '../../../../../assets/css/main.css';

.cat{
    display: flex;

    &_item{
        padding: 10px 20px;
        background-color: var(--light-gray);
        font-size: 24px;
        // font-weight: 400;
        color: var(--black);
        border-radius: 14px;
        margin-left: 20px;
        cursor: pointer;
    }
    &_active{
        padding: 10px 20px;
        background-color: var(--orange);
        font-size: 24px;
        font-weight: 700;
        color: var(--white);
        border-radius: 14px;
        margin-left: 20px;
        cursor: pointer;
    }
}