@import './reset.css';

:root {
  --black: #393939;
  --white: #ffffff;
  --light-gray: #EDEDED;

}

.container{
  width: 1470px;
  margin: 0 auto;
}

* {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  font-family: 'Comfortaa', sans-serif;
}
