@import '../../../../../assets/css/main.css';

/* --------------------CardCategory -------------------*/

.select{
   display: flex;

    &__item{
        font-size: 16px;
        padding: 15px 30px 16px ;
        background-color: var(--gray-s-light);
        border-radius: 12px;
        margin-right: 10px;
        font-weight: 600;
        color: var(--gray);
        cursor: pointer;
    }

    &__active{
        color: var(--white);
        background-color: var(--orange);
    }

}

/* --------------------CardSorting------------------*/

.sort{
    margin-top: 18px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    position: relative;

    &__p{
        margin-right: 10px; 

        &_active{
            cursor: pointer;
            color: var(--orange);
            text-decoration: underline;
        }
    } 

    &__drop{
        position: absolute;
        background-color: #fff;
        top: 20px;
        padding: 10px 0;
        right: 0;
        border: 2px solid var(--gray);
        border-radius: 8px;
        z-index: 1;

        li{
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;

            &:hover{
               background-color: var(--gray-s-light); 
            }  
        } 

        &_active{
            background-color: var(--orange);
            font-weight: 600;
            color: var(--white);
        }    
    }
}


/* --------------------Pagination------------------*/
.pagination{

   li{
    display: inline-block;
   
   } 
   a{
    display: inline-block;
    font-weight: 600;
    text-align: center;
    width: 60px;
    height: 45px;
    line-height: 20px;
    padding: 10px;
    border: 2px solid var(--gray);
    border-radius: 20px;
    margin-right: 15px;
    cursor: pointer;
   }
//    класс к которому мы обращаемся принадлежит библиотеке поэтому мы обращаемся к нему через глобал
   :global {
    .selected{
        a{
            background-color: var(--orange);
            color: var(--white);
        }
    }
   }

}