@import '../../../../assets/css/main.css';
// ============Banner==============
// Временная заглушка

.banner{
    display: flex;
    margin-top: 40px;
    gap: 46px;
}

.placeholder{
    margin-left: 20px;
    width: 938px;
    height: 289px;
}