@import '../../../../assets/css/main.css';
.flex{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.gridCont{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 46px;
}